* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-fin-eng.eng-fin.lrx -text
/apertium-fin-eng.eng-fin.rlx -text
/apertium-fin-eng.eng-fin.t1x -text
/apertium-fin-eng.eng-fin.t2x -text
/apertium-fin-eng.eng-fin.t3x -text
/apertium-fin-eng.eng.acx -text
/apertium-fin-eng.eng.dix -text
/apertium-fin-eng.fin-eng.dix -text
/apertium-fin-eng.fin-eng.lrx -text
/apertium-fin-eng.fin-eng.rlx -text
/apertium-fin-eng.fin-eng.t1x -text
/apertium-fin-eng.fin-eng.t2x -text
/apertium-fin-eng.fin-eng.t3x -text
/apertium-fin-eng.pc.in -text
/autogen.sh -text
/configure.ac -text
dev/debug2dixesandlexces.bash -text
dev/diffs-to-eng-ref.sh -text
dev/europarl-v7.fi-en.ngrams.fi-en.lrx -text
dev/fiwikt2dix.awk -text
dev/fiwn2bidix.bash -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/nouns.wikt.txt -text
dev/testvoc.sh -text
/eng-fin.prob -text svneol=unset#unset
/fin-eng.prob -text svneol=unset#unset
/modes.xml -text
texts/rautatie.text -text
texts/story.fin-eng.google.txt -text
texts/tarina.eng.text -text
texts/tarina.fin.text -text
texts/ukkonen.fiwiki.text -text
texts/undhr.eng.text -text
texts/undhr.fin.text -text
